<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .menu {
            background-color: #f8f9fa;
            padding: 10px;
            margin-bottom: 20px;
        }
        .menu a {
            margin-right: 10px;
            text-decoration: none;
            color: #333;
        }
    </style>
</head>
<body>
    <header>
        <div class="menu">
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/subscribe">Subscribe</a>
                <a href="/products">Products</a>
                <a href="/contact">Contact</a>
            </nav>
        </div>
    </header>

    <main>
        
        <h1>Products</h1>
        <p>Here are our products:</p>
        <ul>
            <li>Maps</li>
            <li>Local weather API's</li>
            <li>Winter clothing</li>
            <li>Summer clothing</li>
        </ul>        
    </main>

    
</body>
</html>